.centered-image {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 40px; /* Space between image and table */
  }

  .centered-image img {
    max-width: 100%; /* Responsive image */
    height: auto;
    display: block;
  }

  .caption-bar {
    position: absolute;
    bottom: -20px; /* Adjust as needed to achieve the 1/3rd out effect */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, .75);
    color: white;
    text-align: center;
    padding: 5px 10px; /* Reduce padding to decrease bar height */
    box-sizing: border-box;
    font-size: 2.5rem; /* Increase font size */
    line-height: 1; /* Adjust line height for better readability */
    display: inline-block; /* Allow the bar to shrink and wrap */
    max-width: 90%; /* Limit the width to 90% of the available space */
    width: max-content;
  }

  .caption-bar h2 {
    font-weight: bold; /* Apply bold font weight */
    margin: 0; /* Remove default margin */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    background-color: #333;
  }

  th, td {
    padding: 12px 15px;
    text-align: left;
  }

  th {
    background-color: #333;
    border-bottom: 2px solid #ffffff;
  }

  tr {
    background-color: #333;
  }

  td {
    border-bottom: 2px solid #ffffff;
  }

  h6 {
    font-size: 12px; /* Increase the font size */
    display: flex;
    align-items: center; /* Center vertically */
    margin: 0; /* Remove default margin */
  }

  @media (max-width: 850px) {
    .caption-bar {
        font-size: 1.5em;
    }

  }
