/* General styles for the booster containers and elements */
.rocket-container {
    position: relative;
    width: calc(50% - 10px); /* Adjust width */
    max-width: 585px; /* Limit maximum width */
    height: 360px; /* Fixed height */
    margin: 5px;
    border-radius: 0;
    overflow: hidden; /* Ensure content doesn't overflow */
    float: left;
    z-index: 1;
}

.rocket-link {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    text-decoration: none; /* Removes underline from text */
    color: inherit; /* Inherits text color */
    position: relative;
    z-index: 300000; /* Ensure it covers other elements */
    -webkit-tap-highlight-color: transparent;
}

.image-background {
    position: absolute;
    top: 0;
    left: 35%;
    right: 0; /* Adjusted */
    bottom: 0; /* Adjusted */
    background-size: cover;
}

.info-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: lightgray;
    text-align: left;
    padding: 20px;
    width: 50%;
}

.info-wrapper h1 {
    margin-top: 5px;
    margin-right: 5px;
}

.blue-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%; /* Two-thirds of the container */
    height: 100%;
    background-color: rgba(63, 99, 135, 1); /* Solid blue */
    color: lightgray !important;
}

.image-background {
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    background-size: cover;
    display: block; /* Show image by default */
}

.info-wrapper {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    color: lightgray;
    text-align: left;
    padding: 20px;
    width: 50%; /* Take up the first half */
}

.info-wrapper h1 {
    margin-top: 5px;
    margin-right: 5px;
}

h1 {
    padding: 20px 0;
    font-size: 3em;
    clear: both;
}

/* Responsive adjustments */
@media (max-width: 850px) {
    .rocket-container {
        max-height: none;
        padding: 0;
        margin: 5px 0;
        width: 100%;
        max-width: 850px;
    }

    .info-wrapper {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: auto;
        text-align: left;
    }

    .blue-background {
        width: 100%;
    }

    .image-background {
        left: 40%;
    }
}
