{% extends "base_generic.html" %}
{% load filters %}
{% load static %}
{% block title %}
    Booster Tracker
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/launch_table.css' %}">
{% endblock %}

{% block content %}
    <div class="centered-image">
        <img src="{{ launch.image }}" alt="Centered Image">
        <div class="caption-bar">
            <h2>{{ launch.name }} | {{ launch.rocket.name }}</h2>
        </div>
    </div>
    <table>
        {% for key, values in data.items %}
            <tr>
                <th class="has-text-align-left" data-align="left">
                    <h6><strong>{{ key | safe }}</strong></h6>
                </th>
                <td>
                    {% for value in values %}
                        {{ value }}<br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
